{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <h1>{{ title }}</h1>
  <p>Welcome Sentence!!</p>

  <h2>1. The Clue Structure</h2>
  <p>Cryptic crossword clues are composed like an equation.
      They are a compound of (typically two) distinct elements,
      that independently resolve to the same answer. They contain a
      <strong>definition</strong>, which is typically a synonym of
      or description of the solution. The rest of the clue is usually
      <strong>wordplay</strong>, where the solver must identify an
      <strong>indicator</strong> (or multiple), which act as an instruction
      for how to manipulate the <strong>fodder</strong>, the remaining
      words in the clue.
  </p>
  <p>There are several conventions that cryptic clues follow to make them fairer to solve,
      and are good to remember:</p>
      <ul>
          <li>The definition must be either at the beginning or end of the clue. </li>
          <li>Indicators cannot reference fodder that they do not neighbour directly.</li>
      </ul>
  <h2>2. Types of Wordplay</h2>
  <p>These are the main types of wordplay that appear in cryptic clues. The solver must
  work out which to apply when solving a clue based on indicators within the clue.</p>

  <h3>Anagrams</h3>
  <p>A very simple kind of wordplay, anagrams involve rearranging letters to create a
      new word or phrase. They are usually indicated by words suggesting change, movement,
      destruction, and drunkenness. It is unrealistic to memorise all possible anagram
      indicators, but many are synonymous within their categories.</p>
  <h3>Charades</h3>
  <p>Combining smaller words or parts to form a larger word.</p>
  <h3>Containers</h3>
  <p>Placing one word inside another.</p>
  <h3>Deletion</h3>
  <p>Removing parts of words.</p>
  <h3>Hidden</h3>
  <p>Word/s hidden within fodder.</p>
  <h3>Homophone</h3>
  <p>Words that sound the same as other words/phrases.</p>
  <h3>Letter Selection</h3>
  <p>Taking specific sections of words (first, middle, final letters etc.)</p>
  <h3>Reversal</h3>
  <p>Reversing the order of letters in a word or phrase</p>
  <h3>Other Indicators</h3>
  <p>spoonerisms, palindromes</p>


  <p>combining indicators, juxtaposition indicators</p>

  <h2>3. Indicators</h2>
  <p>words/phrases in the clue that define the type of wordplay.</p>

  <h2>4. Abbreviations</h2>
  <p>shortened words/phrases.</p>

  <h2>5. Other Clue Types</h2>
  <p>double def, &lit, novelty, cryptic def</p>

  <p>something!</p>
{% endblock %}