{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <p>{{ intro }}</p>

  <hr>
    <p>If solving or writing cryptic crossword puzzles, you can use the lists provided to find the
        <a href="/abbreviations/">abbreviations</a> and <a href="/indicators/">indicators</a> you're looking for! (home.html)</p>
    <p>If you're new to cryptics, you can refer to the <a href="/beginners-guide/">beginner resources</a></p>
    <p>TODO: Add dynamic content to abbr and indicator detail, add some data to tables. Make a beginner/clue examples. add a search function to the tables</p>
{% endblock %}
